@media(max-width:768px){
  header{
  font-size:24px;
  padding-left:20px;
}
  .nav-link{
    display:block;
    border: solid 0.1px grey;
  }
  .link{
    border: solid 1px gray;
    height:180px;
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
    overflow-y:scroll;
  }
  nav > :first-child{
    text-align:center;
    font-weight:400;
    height:35px;
    font-size: 25px;
    padding: 9px 0;
 }
  .nav-link{
    display:block;
    border-top: solid 0.1px grey;
    height:22px;
    font-size: 12px;
    padding-top: 11px;
    padding-left:22px;
  
  }
}

@media(min-width:768px){
   header{
  font-size:28px;
  padding-left:20px;
}
 
 nav > :first-child{
    height:40px;
    font-size: 25px;
    padding-top: 9px;
    padding-left:12px;
 }
  .nav-link{
    display:block;
    border-top: solid 0.1px grey;
    height:28px;
    font-size: 12px;
    padding-top: 9px;
    padding-left:12px;
  }

  
  #navbar{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:25%;
    overflow:auto;
    
  }
  #main-doc {
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:75%;
    padding-top: 9px;
    overflow-x:hidden;
    overflow-y:scroll;
    border-left: solid 2px grey;
  }
}

html,body{
  font-family: open sans,sans-serif;
  scroll-behavior: smooth;
  
}
p,ul,li{
  font-size: 12px;
  margin:15px 25px;
  line-height:18px ;
  color: #4d4e53;
}
 
*{
  box-sizing:inherit;
  line-height: 1.5;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 50px;
  border-radius: 5px;
}

#main-id header{
  font-size:28px;
}

a:link, a:visited, a:hover, a:active{
  color:gray;
  text-decoration: none;
}