label, textarea,select{
  display: block;
}
h1,p{
  text-align: center;
}
fieldset{
  border: none;
  padding: 0.5em 0;
}
form{
  color: rgba(255,255,255,0.8);
  margin: 2rem 4rem;
  padding: 2rem auto;
  background-color: #0a0a23
}